*{
    margin:0;
    padding:0;
}
.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: rgb(184,11,11);
}

#footer2 {
    background: #880808;
}
